body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.home-page {
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
}

.center-content {
    margin: 20px 0;
}

.table-admin {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.table-admin th,
.table-admin td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-admin th {
    background-color: #4b2e2e;
    color: white;
}

.table-admin tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-admin tr:hover {
    background-color: #ddd;
}

.table-admin .status {
    min-width: 180px;
}

.form-select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.thumbnail {
    width: 50px;
    height: auto;
    border-radius: 5px;
}

.shimmer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #f6f7f8;
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;
    animation: shimmer 1.5s infinite linear;
}

.shimmer-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ddd;
}

.error-message {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgb(141, 1, 1);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeInOut 3s ease-in-out;
}