/* .total-container {
    text-align: center;
    margin-top: 50px;
}

.total {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

.finalizar-compra {
    margin-top: 20px;
}

.center-content {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.table {
    margin: 30px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: none;
} */