.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-container>.content {
    flex: 1;
}

.footer {
    background-color: #4b2e2e;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
    flex-shrink: 0;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer h2 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.footer h3 {
    margin: 5px 0;
    font-size: 16px;
}

.footer p {
    margin: 5px 0;
    font-size: 14px;
}