body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.home-page {
  text-align: center;
  padding: 20px;
}

.header,
.top-bar {
  background-color: #4b2e2e;
  color: white;
  padding: 10px 0;
}

.banner {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.carousel-item-container {
  padding: 10px;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-item-container img {
  width: auto;
  max-height: 220px;
  object-fit: contain;
  margin-bottom: 100px;
}

.carousel-caption {
  padding: 5px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.carousel-caption h3 {
  color: gray;
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0;
}

.carousel-caption p {
  font-size: 14px;
  color: #d3a87c;
  font-weight: bold;
  margin: 0;
}

.center-content {
  margin: 20px 0;
  font-size: 24px;
  color: #4b2e2e;
}

.mais-comprados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.produto {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  text-align: center;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.produto:hover {
  transform: scale(1.05);
}

.imagem img {
  max-width: 100%;
  border-radius: 8px;
}

.produto p {
  margin: 10px 0;
  color: #4b2e2e;
}

.produtos-button {
  background-color: #4b2e2e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.produtos-button:hover {
  background-color: #3a2323;
}

.shimmer-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background: #f6f7f8;
  background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-repeat: no-repeat;
  background-size: 800px 104px;
  animation: shimmer 1.5s infinite linear;
}

.shimmer-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ddd;
  margin-right: 10px;
}

.shimmer-line {
  width: 100%;
  height: 10px;
  background: #ddd;
  margin-bottom: 10px;
}

@keyframes shimmer {
  0% {
    background-position: -800px 0;
  }

  100% {
    background-position: 800px 0;
  }
}

.confirmation-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  10% {
    opacity: 1;
    transform: translateY(0);
  }

  90% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}