.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 10px;
}

.table {
  margin: 30px;
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
}

.table th,
.table td {
  border: none;
  padding: 15px 20px;
  text-align: left;
}