/* .videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videos {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
    margin-bottom: 30px;
}

.videos h2,
.videos p {
    text-align: left;
} */